body {
    text-align: center;
    background-color: #fe8260;
    font-family: "Playwrite VN Guides", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: white;
}

img {
    position: absolute;
    top: 0;
}

#img1 {
    left: 0;
}

#img2 {
    right: 0;
}

.vermelho {
    color: red;
}

.amarelo {
    color: #7e7e1d;
}

#main {
    background-color: white;
    border: 2px solid #333;
    border-radius: 20px;
}

.separacao {
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 1500px;
    margin: 20px auto;
}

.entrada {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
}

.flex {
    display: flex; 
    align-items: center;
    gap: 10px;
}

.flex h3 {
    flex-shrink: 0;
}

.flex input, select {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

@media (max-width: 1400px) {
    .separacao {
        width: 97%;
    }
}

input, select {
    padding: 15px 15px;
}

.submit, #limparFiltro {
    background-color: #fe8260;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#limparFiltro {
    height: 50px; 
    padding: 10px 20px;
    font-size: 16px;
}

.tabela-responsiva {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
}

.dados-banco {
    width: 100%; 
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

@media (max-width: 620px) {
    img {
        display: none;
    }
}

.dados-banco th, .dados-banco td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.dados-banco th {
    background-color: #fcab94;
    color: #333;
    font-weight: bold;
}

 .dados-banco tbody tr {
    background-color: #f7c6b9;
 } 

.dados-banco tbody tr:nth-child(even) {
    background-color: #ffe3db;
}

.dados-banco tbody tr:hover  {
    filter: grayscale(45%);
}

.btn {
    background-color: #fe8260;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn:hover, .submit:hover, #limparFiltro:hover {
    background-color: #db7052;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: -350px;
    width: 300px; 
    background-color: #4c7faf; 
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #00000033;
    transition: right 0.8s ease-in-out;
    z-index: 1000;
    font-family: 'Arial, sans-serif';
}

.toast-container.show {
    right: 20px;
}

.toast-container.hide {
    right: -350px;
}

.toast-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.toast-message {
    font-size: 0.9em;
}

.fundo-vermelho {
    background-color: #af4c4c;
}

.toast-progress-bar {
    height: 5px;
    background-color: #fcf8f8;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    animation: progressBar 5s linear forwards;
}

@keyframes progressBar {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

/* Estilos para a Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto; /* Centraliza a caixa da modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura da caixa da modal */
    max-width: 500px; /* Largura máxima */
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Animação para a modal aparecer */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.fecharBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: "Arial, sans-serif";
}

.fecharBtn:hover, .fecharBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    gap: 15px;
}